<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
	<!-- <property name="hibernate.connection.url">jdbc:mysql://rdsdatabase.mysql.rds.aliyuncs.com/testdabase</property> 
			<property name="hibernate.connection.username">chenmysql</property> <property 
			name="hibernate.connection.password">Chen46434xinxian</property> -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost/chentest</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hbm2ddl.auto">create</property>

		<mapping resource="chen/entity/User.hbm.xml" />
		<mapping resource="chen/entity/Board.hbm.xml" />
		<mapping resource="chen/entity/Role.hbm.xml" />
		<mapping resource="chen/entity/Comment.hbm.xml" />
		<mapping resource="chen/entity/Topic.hbm.xml" />
		<mapping resource="chen/entity/TopicState.hbm.xml" />
		<mapping resource="chen/entity/Authority.hbm.xml" />
	</session-factory>
</hibernate-configuration>
